--extra-index-url https://download.pytorch.org/whl/cu130

git+https://github.com/huggingface/transformers.git@v4.57.6
huggingface-hub
gradio==6.16.0
torch==2.11.0
opencv-python
sentencepiece
torchvision
torchaudio
accelerate
omegaconf
termcolor
diffusers
kernels
imageio
hf_xet
spaces
pyyaml
pillow
numpy
peft
ftfy
av